pandas==2.0.3
aeon==0.11.1
sktime==0.34.0
numba==0.60.0
tqdm==4.67.1
seaborn==0.13.2
networkx==3.4.2
matplotlib==3.9.2
baycomp==1.0.3
hydra-core==1.3.2
omegaconf==2.3.0
scikit-learn==1.5.2
scipy==1.12.0
unique-names-generator==1.0.2
gdown==5.2.0
h5py==3.12.1
tables==3.10.1
rocket-fft
tsai
ipykernel
torch-hd
pytorch-lightning
multi-comp-matrix